.fiter-container {
    display: flex;
    justify-content: flex-end;
}
.posts-search-field {
    height: 20px;
    padding: 10px;
    font-size: 1.25rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--primaryHover);
    margin-right: 10px;
    overflow: hidden;
}

.post-status-filter {
    background: white;
    color: black;
    font-size: 1.25rem;
    width: fit-content;
    border: 1px solid var(--primaryHover);
    border-radius: 10px;
    outline: none;
    overflow: hidden;
}

.posts-container {
    margin: 20px 0;
}

.post-list-item {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    margin: 15px 0;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.post-list-item:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.post-item-cell {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    align-items: center;
}

.post-item-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-item-details {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: max-content auto;
}

.post-item-featured-image{
    object-fit: contain;
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}
.post-item-featured-image img {
    width: 100%;
    height: 100%;
}

.post-status-published {
    color: #5fdba7;
}

.post-status-draft {
    color: orangered;
}

.post-item-btns button{
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 5px;
    
}

.post-publish-btn {
    color: #fff;
    background: green;
    cursor: pointer;
}

.post-unpublish-btn {
    border: 1px solid black;
    color: black;
    background:#fff;
}

.post-item-actions i {
    margin: 0 5px;
}

.post-item-edit {
    color: blue;
}

.post-item-delete {
    color: red;
}

.mobile-container {
    display: none;
}



.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crumbs {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.crumb {
    padding: 10px 15px;
    margin: 0 10px;
    background :var(--primaryColor);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;

}










@media only screen and (max-width: 530px) {
    .post-list-item {
        grid-template-columns: 1fr;
    }

    .post-status {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .post-status-published{
        color: #fff;
        background: #5fdba7;
        padding: 10px;
    }

    .post-status-draft{
        color: #fff;
        background: tomato;
        padding: 10px;
    }

    .post-item-btns {
        margin: 15px 0;
    }

    .post-item-actions {
        display: none;
    }
    .mobile-container {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .mobile-container i {
        margin: 0 5px;
    }
}