@import url('../../../base.css');
.d-container{
    padding: 15px;
}

.welcome-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px;
    margin-bottom: 10px;
}
.welcome-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-user {
    font-size: 2rem;
}
.welcome-message {
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--secondaryColor);
}
.statistics-wrapper {
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card-icon {
    background: var(--primaryColor);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.card_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.card_inner > span {
    font-size: 25px;
    color: var(--secondaryColor);
}

.adspace {
    align-items: center;
    justify-content: center;
    background-color: hotpink;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* charts-section */

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 978px) {
    .welcome-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .welcome-wrapper img {
        display: block;
    }
    .welcome-user {
        font-size: 1.5rem;
        white-space: nowrap;
    }
    .welcome-message {
        font-size: 1rem;
    }
    .statistics-wrapper {
        grid-template-columns: 1fr 1fr;
    }
     .charts-grid {
        grid-template-columns: 1fr 1fr;
    }

    .adspace {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .charts-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 530px) {
    .welcome-wrapper {
        grid-template-columns: 1fr;
    }
    .welcome-wrapper img {
        display: none;
    }
    .welcome-user {
        font-size: 1.5rem;
        white-space: nowrap;
    }
    .welcome-message {
        font-size: 1rem;
    }
    .statistics-wrapper, .charts-grid {
        grid-template-columns: 1fr;
    }

}
