@import url('../../../base.css');
.d-container{
    padding: 15px;
}

.welcome-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px;
    margin-bottom: 10px;
}
.welcome-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.statistics-wrapper {
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card-icon {
    background: var(--primaryColor);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.card_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.card_inner > span {
    font-size: 25px;
    color: var(--secondaryColor);
}

/* charts-section */

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
